Dev Web/l3-info-dw-cc+ct_T_T_annexes/cc-17-php-2/annexes/music.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT music (disque+) >
<!ELEMENT disque (titre, musiciens) >
<!ELEMENT titre (#PCDATA) >
<!ELEMENT musiciens (musicien+) >
<!ELEMENT musicien EMPTY >
<!ATTLIST disque annee CDATA #REQUIRED >
<!ATTLIST disque rang CDATA #REQUIRED >
<!ATTLIST musicien nom CDATA #REQUIRED >
<!ATTLIST musicien adn CDATA #REQUIRED >
