Dev Web/l3-info-dw-cc+ct_T_T_annexes/cc-17-php-1/annexes/population.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT regions (region+) >
<!ELEMENT region (nom, liste_villes, densite) >
<!ELEMENT nom (#PCDATA) >
<!ELEMENT liste_villes (ville+) >
<!ELEMENT densite (#PCDATA) >
<!ELEMENT ville EMPTY >
<!ATTLIST ville nom CDATA #REQUIRED >
<!ATTLIST ville population CDATA #REQUIRED >
<!ATTLIST ville prefecture CDATA #IMPLIED > 